.signup_div {
    position: relative;
    height: 100vh;
    width: 100%;
    .inner_div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        background-color: rgb(233, 221, 199);
        padding: 50px 100px;
        box-shadow: 2px 2px 100px black;
        border-radius: 25px;
        h2 {
            color: orange;
        }
        label {
            background-color: orange;
            font-size: 18px;
            padding-top: 5px;
            padding-bottom: 5px;
            color: white;
        }
        input {
            height: 30px;
            width: auto;
            margin-bottom: 10px;
            border: 1px solid white;
        }
        button {
            width: auto;
            height: 30px;
            background-color: orange;
            color: white;
            border: none;
            font-size: 20px;
        }
    }
}